.folder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13em;
  background-color: coral;
  margin: 5px;
  padding: 10px;
}

.bookmark-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13em;
  background-color: aqua;
  margin: 5px;
  padding: 10px;
}

.bookmark-item div {
  /* to make name section take full space */
  flex: 1;
}

.button-group {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 10px;
  background-color: blue;
}

button {
  padding: 1px;
  margin: 1px;
  cursor: pointer;
}
